<div class="container-fluid ">
    <div class="container bg-white  pt-5 px-4">
        <div class="row">
        <h1 class="display-4 pt-5">Profile data</h1>
        </div>
        <div class="row">
              <div class="col-6" *ngIf="isLoggedIn | async">
                <p class="mt-3 font-weight-bold fs-4">Username: </p>
                <b class="fs-5">{{currentUser?.name}}</b>
              </div>
            </div>
          <div class="row">
              <div class="col-4" *ngIf="isLoggedIn | async">
                <p class="mt-3 font-weight-bold fs-4">Email: </p>
                <b class="fs-5" >{{currentUser?.email}}</b>
              </div>
            </div>
    </div>
</div>

    
