/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
html, body { height:100%; }
html {
    display: block;
}
body{
    display: block;
    min-width: 400px;
}
app-root{
    display: block;
}
router-outlet {
    display: block;
}
app-navbar {
    display: block;
    height: 57px !important;
}

.navbar-brand{
    color: white !important;
    font-family: 'Dancing Script', cursive;
    font-size: 20px !important;
}
@media (min-width: 800px) {
    .navbar-brand{
        font-size: 24px !important;
    }
    .collapse .nav-link{
        font-size: large !important;
    }
    .dropdown-menu .dropdown-item{
        font-size: medium !important ;
    }
    app-navbar{
        height: 62px !important;
    }
    .responsive-font {
        font-size: 15px;
      }
      .h2{
        font-size: 25px !important;
      }
      .offcanvas{
        margin-top: 9.5em !important;
    }
}
@media (min-width: 1200px) {
    .navbar-brand{
        font-size: 30px !important;
    }
    .collapse .nav-link{
        font-size: larger !important ;
    }
    .dropdown-menu .dropdown-item{
        font-size: large !important ;
    }
    app-navbar{
        height: 71px !important;
    }
    .responsive-font {
        font-size: 20px;
      }
      .h2{
        font-size: large !important;
      }
      .offcanvas{
        margin-top: 8.5em !important;
    }
}
.h2{
    font-size: 10px !important;
  }
.nav-link{
    color: white !important;
    font-size: medium !important;
}

ul.dropdown-menu {
    background-color: #000;
}
.dropdown-item{
    color: white !important;
    font-size: small !important; 
}
.dropdown-divider{
    color: white;
}
.offcanvas{
    margin-top: 4.5em !important;
}