<div class="row mt-3  mx-3">
  <div class="col" >
      <h5 class="display-6">All Events</h5>
  </div>
  
  <div class="col d-flex flex-row-reverse py-2">
        <button class="btn btn-primary btn-sm " data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight" > <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-filter my-0" viewBox="0 0 16 16">
        <path d="M6 10.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z"/>
      </svg> Filters</button>
  </div>
</div>
<div class="row  mx-3 ">
  <div class="offcanvas offcanvas-end h-80 mt-5" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
      <h5 id="offcanvasRightLabel">Filters</h5>
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    
    <div class="offcanvas-body">
      <form [formGroup]="forms" (ngSubmit)="submitForm()" novalidate>
        <h6 id="offcanvasRightLabel">Event categories:</h6>
        <div *ngFor="let CountryData of CountryData; let i=index">
          <label>
            <input type="checkbox" [value]="CountryData.value" (change)="onCheckboxChange($event)" />
            {{CountryData.name}}
          </label>
        </div>
        <h6 id="offcanvasRightLabel " class="mt-3">Sort:</h6>
        <div *ngFor="let SortData of SortData; let i=index" class="form-check">
          <label class="form-check-label">
            <input class="form-check-input" type="radio" [value]="SortData.value" (change)="onCheckboxChange2($event)" name="exampleRadios" />
            {{SortData.name}}
          </label>
        </div>
        <h6 id="offcanvasRightLabel " class="mt-3">Date range:</h6>
        <div class="col-8">
          From: <input class="form-control" formControlName="Date1"  type="date" placeholder="Enter date" required>
      </div>
        <div class="col-8">
          To: <input class="form-control mb-4" formControlName="Date2"  type="date" placeholder="Enter date" required>
      </div>
        <h6 id="offcanvasRightLabel ">Search city:</h6>
        <div class="col-6">
          <input class="form-control mb-3" formControlName="Location" type="text" />
        </div>
        
        <div class="container-fluid ">
          <div class="row justify-content-between">
            <div class="col-4">
              <button type="submit"   class="btn btn-success"  data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">Apply</button>
            </div>
            <div class="col-4">
              <button   type="reset" (click)="cancelForm()" class="btn btn-danger"  data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">Cancel</button>
            </div>

          </div>
        </div>
      </form>
  </div>
  </div>
  </div>

<div class="row mt-3 row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 gx-2 justify-content-center ">
    <ng-container *ngFor="let event of filteredEvents | async">
        <a [routerLink]="[event.id]" class="text-decoration-none" >
          <app-event [event]="event" [show]="show" (deleteClick)="onDeleteClick(event)"></app-event>
        </a>
      </ng-container>
</div>

