a:link { text-decoration: none; 
    color:black;}
a:visited { text-decoration: none; 
color: black;}
a:hover { text-decoration: none; 
color: black;}
a:active { text-decoration: none; 
color: black;}
@media (min-width: 800px) {
    .offcanvas{
        margin-top: 9.5em !important;
    }
}
@media (min-width: 1200px) {
    .offcanvas{
        margin-top: 9.5em !important;
    }
}
.offcanvas{
    margin-top: 4.5em !important;
}