<div class="col align-self-center">
<div class="card mx-auto mt-4" style="width: 90%;">
    <div id="img_container">
        <img [src]="event.picture" class="card-img-top " alt="...">
        
    
        <ng-container *ngIf="!show" >
          <div class="cont_button">
          <button class="img_button3 button btn-light btn-block" ><i class="fa fa-edit"></i></button>
          <button class="img_button4 button btn-light btn-block" (click)="onDeleteClick($event)"> 
            <i class="fa fa-times"></i>
          </button>
        </div>
        </ng-container>
        
    </div>
    <div class="card-body ">
      <h5 class="card-title">{{event.name}}</h5>
      <p class="card-text text">{{event.description}}</p>
      <p class="card-text mb-0"><small class="text-muted">{{ event.time | date:'mediumDate' }}</small></p>
      <p class="card-text mb-0"><small class="text-muted">{{ event.time | date:'shortTime' }}</small></p>
      <p class="card-text mb-0"><small class="text-muted">{{event.place}}, {{event.adress}}</small></p>
      <div class="d-md-flex justify-content-md-end">
      <a href="#" class="btn btn-primary">More</a>
    </div>
    </div>
  </div>
</div>