.card{
    border-radius: 4% !important;
}
.card-img-top{
    border-top-left-radius: 4% !important;
    border-top-right-radius: 4% !important;
}
#img_container {
    position:relative;
    display:inline-block;
    text-align:center;
    
}
.cont_button{
    position:absolute;
    top:10px;
    right:10px;
}

.img_button{
    width:40px;
    height:40px;
    border-radius: 50%;

}
.img_button2{
    width:40px;
    height:40px;
    border-radius: 50%;
    margin-right: 8px;

}
.text {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* number of lines to show */
    -webkit-box-orient: vertical;
 }
 .img_button4{
    width:40px;
    height:40px;

}
.img_button3{
    width:40px;
    height:40px;
    margin-right: 8px;

}