<div class="container">
    <div class="row  mx-5" *ngIf="event | async as event">
        <div class="img_container row">
            <div class="img_naslov mt-0  px-0 container-fluid" >
                <img [src]="event.picture" alt=""  class="col-12 img-fluid slika px-0" style="height: 100%; width: 100%;"   >
                <div class=" naslov text-start px-3 bg-dark bg-opacity-0">
                    <h3>{{event.name}}</h3>
                </div>
            </div>
        </div>
        <div class="row mt-3 h2">
            <div class="col text-start">
                <div class="row">
                    <div class="col-lg-2 col-md-3 col-sm-4 col-4 align-self-center text-muted responsive-font text-start fst-italic">
                        Details
                    </div>
                    <div class="col align-self-center text-start">
                        <hr class="bg-secondary border-2 border-top border-secondary ">
                    </div>
                </div>
                <div class="row">
                    <div class="col mt-4 mb-4 text-start message text-muted">{{event.description}}
                </div>
                </div>
              </div>
              <div class="col align-self-start ml-3">
                <div class="row">
                        <div class="col-lg-2 col-md-2 col-sm-3 col-3 align-self-center text-muted responsive-font fst-italic">
                        Date
                        </div>
                        <div class="col align-self-center">
                            <hr class="bg-secondary border-2 border-top border-secondary">
                        </div>
                </div>
                <div class="row ">
                    <div class="col align-self-start mt-4 mb-4 h2 text-muted text-start responsive-font" >
                        {{ event.time | date:'mediumDate' }}
                    </div> 
                </div>
                <div class="row">
                    <div class="col-lg-2 col-md-2 col-sm-3 col-3 align-self-center text-muted responsive-font fst-italic">
                        Time
                        </div>
                        <div class="col align-self-center">
                            <hr class="bg-secondary border-2 border-top border-secondary">
                        </div>
                </div>
                <div class="row">
                    <div class="col align-self-start mt-4 mb-4 h2 text-muted text-start responsive-font">
                        {{ event.time | date:'shortTime' }}
                    </div>
                </div>
                <div class="row">
                    <div class=" col-lg-2 col-md-3 col-sm-4 col-5  align-self-center text-muted responsive-font fst-italic text-start">
                        Location
                    </div>
                    <div class="col align-self-center">
                        <hr class="bg-secondary border-2 border-top border-secondary">
                    </div>
                </div>
                <div class="row">
                    <div class="col align-self-start mt-4 mb-4 h2 text-muted text-start responsive-font">
                        {{event?.place}}, {{event.adress}}
                    </div>
                </div>
            </div>
        </div>
        <hr class="bg-secondary border-2 border-top border-secondary mt-4">
        <div class="row mt-4 pb-5">
            <div class="col text-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-compact-left" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M9.224 1.553a.5.5 0 0 1 .223.67L6.56 8l2.888 5.776a.5.5 0 1 1-.894.448l-3-6a.5.5 0 0 1 0-.448l3-6a.5.5 0 0 1 .67-.223z"/>
                  </svg>
                <span>Previous</span>
            </div>
            <div class="col text-center">
                <button class="btn btn-light btn-outline-dark" [routerLink]="['/events']">All Events</button>
            </div>
            <div class="col text-center">
                Next
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-compact-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M6.776 1.553a.5.5 0 0 1 .671.223l3 6a.5.5 0 0 1 0 .448l-3 6a.5.5 0 1 1-.894-.448L9.44 8 6.553 2.224a.5.5 0 0 1 .223-.671z"/>
                  </svg>
            </div>
        </div>
    </div>
</div>


