 .img_container {
    position:relative;
    display:inline-block;
    text-align:center;
    
}
.img_naslov{
  position: relative;
  display:inline-block;
    text-align:center;
    height: 30vw !important;
}
.naslov{
  position:absolute;
  bottom:0px;
  left:0px;
  background-color: black;
  color: white;
  width: 100%;
}
@media (min-width: 800px) {
  
  .responsive-font {
      font-size: 15px;
    }
    .h2{
      font-size: 20px !important;
    }
}
@media (min-width: 1200px) {

  .responsive-font {
      font-size: 20px;
    }
    .h2{
      font-size: 25px !important;
    }

}
.h2{
  font-size: 15px !important;
}
.message { white-space: pre-wrap;}

