<div class="container-fluid ">
<app-list-events *ngIf="!showOne" (eventClick)="onEventClick($event)"></app-list-events>
<app-single-event *ngIf="showOne" [event]="eventToShow" (showAllClick)="showOne=false"></app-single-event>
</div>
