<div class="row mt-3  mx-3">
    <div class="col" >
        <h5 class="display-6">My Events</h5>
    </div>
    
    <div class="col d-flex flex-row-reverse py-2">
        <button class="btn btn-primary "[routerLink]="['/new_event']">Create Event</button>
    </div>
</div>
<div class="row mt-3 row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 gx-2 justify-content-center ">
    <ng-container *ngFor="let event of filteredEvents | async">
        <a (click)="clicked(event.id)" class="text-decoration-none" >
          <app-event [event]="event" [show]="show" (deleteClick)="onDeleteClick(event)"></app-event>
        </a>
      </ng-container>
    
</div>


