a:link { text-decoration: none; 
    color:black;}
a:visited { text-decoration: none; 
color: black;}
a:hover { text-decoration: none; 
color: black;}
a:active { text-decoration: none; 
color: black;}
a { text-decoration: none; 
    color: black;}