<div class="container-fluid p image-box"style="--image-url: url(../../../assets/ulazna_slika.jpg)">
  <div class="container "  >
    <div class=" row justify-content-center align-items-center" style="height: 100%;">
      <div class="col-lg-4 col-sm-6 col-md-4 col-6 d-flex" style="height: 100%;">
        <div class="card h-100 flex-fill ">
          <img
          id="profile-img"
          src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" class="rounded-circle mx-auto d-block mt-4" width="100"
        />
    <div class="card-body">
    <form [formGroup]="registerForm">
      <div class="form-group">
        <input formControlName="username" class="form-control" type="text" placeholder="Username">
      </div>
      <div class="form-group">
        <input formControlName="email" class="form-control" type="text" placeholder="E-mail">
      </div>
      <div class="form-group">
        <input formControlName="password"  class="form-control" type="password" placeholder="Password">
      </div>
      <button type="submit" class="btn btn-primary" (click)="register()">Register</button>
    </form>
  </div>
</div>
</div>
</div>
</div>
</div>

