<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">EventHunt</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto">
          <li *ngIf="!(isLoggedIn | async)" class="nav-item"><a class="nav-link" [routerLink]="['/login']" href="" routerLinkActive="active">Login</a></li>
          <li *ngIf="!(isLoggedIn | async)" class="nav-item"><a class="nav-link" [routerLink]="['/register']" href="" routerLinkActive="active">Register</a></li>
          <li *ngIf="isLoggedIn | async" class="nav-item">
            <a class="nav-link active mx-2" aria-current="page"  [routerLink]="['/events']" routerLinkActive="active"><i class="fa fa-calendar "></i> Events</a>
          </li>
     
          <li *ngIf="isLoggedIn | async" class="nav-item dropdown">
            <a class=" dropdown-toggle nav-link " href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fa fa-user-circle"></i> {{currentUser?.name}}
            </a>
            <ul *ngIf="isLoggedIn | async" class="dropdown-menu dropdown-menu-end bg-dark" aria-labelledby="navbarDropdown">
              <li class=" "><a class="dropdown-item nav-link px-2" href="#" [routerLink]="['/profile']" routerLinkActive="active"><i class="fa fa-user"></i> Profile</a></li>
              <li  class=" "><a class="dropdown-item nav-link px-2" href="#" [routerLink]="['/user-events']" routerLinkActive="active"><i class="fa fa-calendar-o" aria-hidden="true"></i> My Events</a></li>
              <li><hr class="dropdown-divider"></li>
              <li  class=" "><a class="dropdown-item nav-link px-2" href="#" (click)="logout()"> <i class="fa fa-power-off" aria-hidden="true"></i> Logout</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
