.nav-item .active{ color:rgb(187, 182, 182) !important;}
.dropdown-item .active{
    background-color: lightgray !important;
}
.dropdown-item:link { text-decoration: none; 
    color:black;}
    .dropdown-item:visited { text-decoration: none; 
color: black;
background-color: rgba(14, 13, 13, 0.993);}
.dropdown-item:hover { text-decoration: none; 
color: black;
}
.dropdown-item:active { text-decoration: none; 
color: black;}
.dropdown-item{ text-decoration: none; 
    color: black;}