.form-group{
    color: black !important;
}
.form-group {
    margin-bottom: 1rem;
  }
  
  .form-inline .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
  }
  
  .form-row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -5px;
    margin-left: -5px;
  }
  
  label {
    margin-bottom: 0.5rem;
  }
  .p{
    height: 100%;

}
  .image-box {
    box-shadow: inset 0 0 0 100vw rgba(0,0,0,0.5);
    background-image: url("../../../../assets/ulazna_slika.jpg");
    background: var(--image-url) center center;
    background-size: cover;
    color: white;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: box-shadow .3s ease-out;
  }
  .image-box:hover {
      box-shadow: inset 0 0 0 100vw rgba(0,0,0,0.2);
  }
