<div class="container-fluid ">
<div class="container bg-white  pt-3 px-4">
    <div class="row">
    <h1 class="display-4 pt-5">New Event</h1>
    </div>
    <div class="row">
        <form [formGroup]="form" (submit)="onSubmit()">
            <div class="col-6">
              <input class="form-control mb-2"formControlName="EventName" type="text" placeholder="Enter event name" required />
            </div>
            <div class="col-6">
              <input class="form-control mb-2" formControlName="Location" type="text" placeholder="Enter city" required />
            </div>
            <div class="col-6">
              <input class="form-control mb-2" formControlName="adress" type="text" placeholder="Enter address" required/>
            </div>
            <div class="col-6">
              <textarea class="form-control mb-2" formControlName="Description" type="text" placeholder="Enter description" rows="3" required></textarea>
            </div>
            <div class="col-4">
              <input class="form-control mb-2" formControlName="Time" type="time" placeholder="Enter time" required />
            </div>
            <div class="col-4">
                <input class="form-control mb-2" formControlName="Date"  type="date" placeholder="Enter date" required>
            </div>
            <div class="col-4">
              <select class="mb-2 form-control" formControlName="category" type="text" required>
                <option value="" selected disabled>Please select</option>
                <option value="Social event">Social event</option>
                <option value="Fundraising event">Fundraising event</option>
                <option value="Festivals">Festivals</option>
                <option value="Education">Education</option>
                <option value="Sport">Sport</option>
              </select>
          </div>
            <div class="col-6">
              <input class="form-control mb-2" (change)="onFileSelect($event)" type="file" required/>
            </div>
            <div *ngIf="imageData" class="col-6">
              <img [src]="imageData" [alt]="form.value.name" class="img-fluid"/>
            </div>
            <div>
              <button type="submit"  [disabled]="form.invalid"  class="btn btn-success mt-3 mb-5">Create Event</button>
            </div>
          </form>
    
  
    </div>
</div>
</div>
